<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
  <title>
    Tiroi Farm PLT
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <!-- <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script> -->
  <style>
@page { size: auto;  margin-top: 0mm; margin-bottom: 0mm; }

@media print {
    /* Hide the custom print button when printing */
    .print-button {
        display: none !important;
    }
}

.print-button {
    display: block; /* Initially show the button */
}
</style>
</head>

<body class="g-sidenav-show  bg-gray-200">
  <aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
      aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/dashboard/view"
      >
      <img src="../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">Tiroi Farm PLT</span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="/dashboard/view">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/daily-record">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">inventory</i>
          </div>
            <span class="nav-link-text ms-1">Daily Record</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/chicken-health/view">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Chicken Health Record</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/chicken-batch/view">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">add</i>
            </div>
            <span class="nav-link-text ms-1">Batch Chicken Record</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/surveillance/view">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">visibility</i>
            </div>
            <span class="nav-link-text ms-1">Surveillance Record</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-warning" href="/report/view">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">summarize</i>
            </div>
            <span class="nav-link-text ms-1">Generate Report</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/register">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Register Employee</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <%
  const today = new Date();
  const month = today.toLocaleString('default', { month: 'long' });
  const year = new Date().getFullYear();
  const options = { day: 'numeric', month: 'long', year: 'numeric' };
    const asOfDate = new Intl.DateTimeFormat('en-MY', options).format(today);
    const numOfChickenArray = numOfChicken.map(chicken => [chicken.totalHens, chicken.totalRoosters]);
    const avgProductionRate = ((Number(avgEggDaily[0].avgDailyEgg).toFixed(2) / +numOfChicken[0].totalHens) * 100).toFixed(2);
    const monthlyEggsData = monthlyEggs.map((row) => row.numEggs);
    const avgMonthlyProductionRate = avgEggDaily.map((row) => (((Number(row.avgDailyEgg).toFixed(2) / +numOfChicken[0].totalHens)* 100).toFixed(2) ))
  %>
  <div class="container-fluid py-4">

    <button class="btn btn-warning m-2 print-button" id="print-button" onclick="printPage()">Download PDF</button>
    <h2 class="text-center"><u>TIROI FARM PLT</u></h2>
    <div class="row mt-3 align-middle text-center d-flex">
      <h5>MONTHLY PRODUCTION REPORT</h5>
      <p class="m-0">Month: <h5 class= "mb-0"> <%= month %> <%= year %></h5></p>
      <p class="m-0">Duration: <h5 class= "mb-0">1 <%= month %> <%= year %> - <%= asOfDate %></h5></p>
    </div>
    <div class="row mt-4 align-items-end">
      <h5>CHICKEN DATA AS OF <%= asOfDate %></h5>
      <div class="col-12 col-md-4 me-7 mb-2">
        <table class="table align-items-center mb-0" style="border-color:gray">
          <thead>
            <tr>
              <th class ="text-center">Bay</th>
              <th class ="text-center">Hen</th>
              <th class ="text-center">Rooster</th>
            </tr>
          </thead>
          <tbody>
            <% for (coop of coopData) { %>
            <tr>
              <td class="align-middle text-center">
                <%= coop.coopID %>
              </td>
              <td class="align-middle text-center">
                <%= coop.numOfHens %>
              </td>
              <td class="align-middle text-center">
                <%= coop.numOfRoosters %>
              </td>
            </tr>
            <% } %>
            <tr>
              <td class="align-middle text-center"><b>Total</b></td>
              <td class="align-middle text-center"><b><%= numOfChicken[0].totalHens %></b></td>
              <td class="align-middle text-center"><b><%= numOfChicken[0].totalRoosters %></b></td>
            </tr>
          </tbody>
        </table>
        <p class="text-center">Table 1: Chicken Count in Each Coop</p>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <canvas id="chicken-count" class="chart-canvas" height="200"></canvas>
        <p class="text-center">Figure 1: Number of Hens and Roosters at the farm</p>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <p class="mb-0">The total death count in <%= month %> as of <b><%= asOfDate %></b> is <b><%= chickenDeadData[0].totalDead ?? '[ No Record ]' %></b> (<b><%= chickenDeadData[0].numDeadRooster ?? '[ No Record ]'%></b> rooster, <b><%= chickenDeadData[0].numDeadHen ?? '[ No Record ]'%></b>
            hens).</p>
            <p>Total death count from start of operation until as of <b><%= asOfDate %></b> is <b><%= totalChickenDeadData[0].totalChickenDead ?? '[ No Record ]' %></b> (<b><%= totalChickenDeadData[0].totalDeadRooster ?? '[ No Record ]' %></b> rooster, <b><%= totalChickenDeadData[0].totalDeadHen ?? '[ No Record ]' %></b> hen).</p>
        </div>
        <div class="col-12 mb-3">
          <canvas id="chicken-death-count" class="chart-canvas" height="50"></canvas>
          <p class="mt-2 text-center">Figure 2: Monthly Chicken death count</p>
        </div>
      </div>
    </div>
    <div class="row">
      <h5>EGG PRODUCTION AS OF <%= asOfDate %></h5>
      <p>A total of <b><%= eggData[0].totalNumEggs ?? '[ No Record ]' %></b>  eggs produced in <b><%= month %></b>. Total number of eggs produced since 
        <b><%= firstDateCoopRecord[0].DAY %> <%= firstDateCoopRecord[0].MONTH %> <%= firstDateCoopRecord[0].YEAR %></b> is <b><%= asOfEggData[0].totalEggCollected ?? '[ No Record ]'%></b>.
        The daily average collected eggs in <%= month %> is <b><%= Number(avgEggDaily[0].avgDailyEgg).toFixed(2) ?? '[ No Record ]'%> </b>eggs. The average production rate in <b><%= month %></b> is <b>
          <%= avgProductionRate ?? '[ No Record ]' %></b>.</p>
    </div>
    
    <div class="row m-3">
      <div class="col-12 mb-3">
        <canvas id="num-egg-monthly" class="chart-canvas" height="50"></canvas>
        <p class="mt-2 text-center">Figure 3: Number of eggs collected monthly</p>
      </div>
      <div class="col-12 mb-3">
        <canvas id="production-rate-egg-monthly" class="chart-canvas" height="50"></canvas>
        <p class="mt-2 text-center">Figure 4: Monthly production rates</p>
      </div>
      <div class="col-12">
        <canvas id="daily-egg-current-month" class="chart-canvas" height="50"></canvas>
        <p class="mt-2 text-center">Figure 5: Daily Eggs Collected</p>
      </div>
    </div>
  
    <div class="row">
      <h5>INCUBATION DATA AS OF <%= asOfDate %></h5>
      <div class="col-12">
        <p>A total of <b><%=incubationRecord[0].numEgg ?? '[ No Record ]'%></b> was incubated in <%= month %>. Since <b><%= firstIncubationDate[0].firstIncubationDate.toLocaleDateString('en-MY') %></b>, a total of 
        <b><%= incubationRecord[0].numEgg ?? '[ No Record ]' %></b> eggs has been incubated. <b><%= incubationRecord[0].numHatch ?? '[ No Record ]' %> </b> eggs hatched in <%= month %> <%= year %>. <%= month %> hatching rate was 
        <b><%= Number(incubationRecord[0].hatchRate).toFixed(2) %>%</b> (<b><%= incubationRecord[0].numHatch ?? '[ No Record ]'%></b> of <b> <%= incubationRecord[0].numNotHatch ?? '[ No Record ]' %></b>). Range of hatching rate is
        <b><%= incubationRecord[0].minHatchRate ?? '[ No Record ]' %>%</b> to <b><%= incubationRecord[0].maxHatchRate ?? '[ No Record ]' %>%</b>. A total of <b><%= totalIncubationData[0].totalEggIncubated ?? '[ No Record ]' %></b> eggs incubated as
        of <%= asOfDate %> with <b><%= totalIncubationData[0].totalEggHatch ?? '[ No Record ]' %></b> hatched.</p>
      </div>
      <div clas="col-12">
        <canvas id="egg-incubated-egg-hatched" class="chart-canvas" height="100"></canvas>
      </div> 
      <p class="mt-2 text-center">Figure 6: Monthly Egg Incubated and Hatched</p>
    </div>
    
    <div class="row">
      <h5>BROODER DATA AS OF <%= asOfDate %></h5>
      <div class="col-12">
        <p>Chick death count in <%= month %> <%= year %> is <b><%= totalChickDeathCurrMonth[0].totalDeadChick ?? '[ No Record ]' %></b>. Cumulative total for chick's death count as of <%= asOfDate %> is <b><%= cumTotalChickDeath[0].totalDeadChick ?? '[ No Record ]'%></b>.</p>
      </div>
      <div clas="col-12">
        <canvas id="daily-chick-death-current-month" class="chart-canvas" height="100"></canvas>
      </div> 
      <p class="mt-2 text-center mb-5">Figure 7: Daily Chick Death Count</p>
    </div>
      <div clas="col-12">
        <canvas id="num-chick-and-dead-each-brooder" class="chart-canvas" height="100"></canvas>
      </div> 
      <p class="mt-2 text-center mb-5">Figure 8: Total Number of Chick and Chick Dead in Each Brooder in <%= month %></p>
    </div>
  </div>
</body>


  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx1 = document.getElementById('chicken-count').getContext('2d');
    var myChart = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: ["Number of Hens", "Number of Roosters"],
        datasets: [{
          label: 'Count',
          data: [<%= numOfChicken[0].totalHens %>, <%= numOfChicken[0].totalRoosters %>],
          backgroundColor: ['rgba(255, 134, 197, 0.2)', 'rgba(75, 192, 192, 0.2)'],
          borderColor: ['rgba(255, 134, 197, 0.8)', 'rgba(75, 192, 192, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          legend: {
            display: false,
          }
        },
      },
    });

    
    var ctx2 = document.getElementById('chicken-death-count').getContext('2d');
    var myChart = new Chart(ctx2, {
      type: 'line',
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: 'Hen Death Count',
          data: [<%= monthlyHensDeadData %>],
           backgroundColor: ['rgba(255, 134, 197, 0.2)'],
          borderColor: ['rgba(255, 134, 197, 0.8)'],
          borderWidth: 1
        },
        {
          label: 'Rooster Death Count',
          data: [<%= monthlyRoosterDeadData %>],
          backgroundColor: ['rgba(75, 192, 192, 0.2)'],
          borderColor: ['rgba(75, 192, 192, 1)'],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          legend: {
            display: true,
          }
        },
      }
    });


    var ctx3 = document.getElementById('num-egg-monthly').getContext('2d');
      var myChart = new Chart(ctx3, {
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: 'Monthly Egg Production',
            data: [<%= monthlyEggsData %>],
            backgroundColor: 'rgba(255, 172, 0, 0.2)',
            borderColor: 'rgba(255, 172, 0, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          plugins: {
            legend: {
              display: false,
            }
          },
        }
      });


    var ctx4 = document.getElementById('production-rate-egg-monthly').getContext('2d');
      var myChart = new Chart(ctx4, {
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: 'Monthly Egg Production',
            data: [<%= avgMonthlyProductionRate %>],
            backgroundColor: 'rgba(255, 172, 0, 0.2)',
            borderColor: 'rgba(255, 172, 0, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          plugins: {
            legend: {
              display: false,
            }
          },
        }
      });

    // Get date daily in 'DD/MM/YYYY' format
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth();
    var currentYear = currentDate.getFullYear();
    var daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
    var labelsDate = [];
    for (let day = 1; day <= daysInMonth; day++) {
      labelsDate.push(`${day.toString().padStart(2, '0')}/${(currentMonth + 1).toString().padStart(2, '0')}/${currentYear.toString()}`)
    }

    var ctx5 = document.getElementById('daily-egg-current-month').getContext('2d');
      var myChart = new Chart(ctx5, {
        type: 'line',
        data: {
          labels: labelsDate,
          datasets: [{
            label: 'Number of eggs',
            data: [<%= dailyEggsAMonthData %>],
            backgroundColor: 'rgba(255, 172, 0, 0.2)',
            borderColor: 'rgba(255, 172, 0, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          plugins: {
            legend: {
              display: false,
            }
          },
        }
      });


    var ctx6 = document.getElementById('egg-incubated-egg-hatched').getContext('2d');
    var myChart = new Chart(ctx6, {
        type: 'bar',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [
            {
              label: 'Incubated',
              data: [<%= incubationRecord[0].numEgg %>],
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            },
            {
              label: 'Hatched',
              data: [<%= incubationRecord[0].numHatch %>],
              backgroundColor: 'rgba(255, 134, 197, 0.2)',
              borderColor: 'rgba(255, 134, 197, 0.8)',
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            },
          },
          plugins: {
            legend: {
              display: true,
              position: 'top'
            }
          },
        },
      });


    var ctx7 = document.getElementById('daily-chick-death-current-month').getContext('2d');
    var myChart = new Chart(ctx7, {
      type: 'line',
      data: {
        labels: labelsDate, //Code can be found above ctx5
        datasets: [{
          label: 'Number of dead chick',
          data: [<%= dailyChickDeathInAMonthData %>],
          backgroundColor: 'rgba(255, 172, 0, 0.2)',
          borderColor: 'rgba(255, 172, 0, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          }
        },
        plugins: {
          legend: {
            display: false,
          }
        },
      }
    });

    var ctx = document.getElementById('num-chick-and-dead-each-brooder').getContext('2d');
      var myCh7art = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: <%- JSON.stringify(brooderIDData) %>,
          datasets: [
            {
              label: 'Total Number of Chick',
              data: <%- JSON.stringify(totalNumHatchData) %>,
              backgroundColor: 'rgba(255, 241, 0, 0.2)',
              borderColor: 'rgba(255, 241, 0, 1)',
              borderWidth: 1,
              barPercentage: 1,
              categoryPercentage: 0.8,
              stack: 'unstacked'
            },
            {
              label: 'Total Dead',
              data: <%- JSON.stringify(totalNumDeadData) %>,
              backgroundColor: 'rgba(232, 64, 64, 0.2)',
              borderColor: 'rgba(232, 64, 64, 1)',
              borderWidth: 1,
              barPercentage: 1,
              categoryPercentage: 0.8,
              stack: 'stacked'
            },
            {
              label: 'Total Sold',
              data: <%- JSON.stringify(totalNumSoldData)%>,
              backgroundColor: 'rgba(39, 245, 88, 0.2)',
              borderColor: 'rgba(39, 245, 88, 1)',
              borderWidth: 1,
              barPercentage: 1,
              categoryPercentage: 0.8,
              stack: 'stacked'
            }
          ]
        },
        options: {
          scales: {
            x: {
              stacked: true,
            },
            y: {
              beginAtZero: true,
            },
          },
          plugins: {
            legend: {
              display: true,
              position: 'top'
            }
          },
        },
      });
  </script>

<script>
  function printPage() {
    // Hide the print button
    var printButton = document.querySelector('.print-button');
    printButton.style.display = 'none';

    // Add event listener for beforeprint to show the button again
    window.addEventListener('beforeprint', function () {
      printButton.style.display = 'none';
    });

     window.addEventListener('afterprint', function () {
      printButton.style.display = 'block';
    });

    // Call window.print()
    window.print();
  }
</script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
</html>